# Visual Studio artifacts
bin
obj
*.obj
*.exe
*.pdb
*.user
*.suo

# NUnit artifacts
TestResult.xml

# Nuget package repositories
packages

# Resharper artifacts
_ReSharper.*

# Nupkg artifacts
*.nupkg